<% if @section.present? %>
  <% if @section == "contemporarypoets" %>
    <div class="navbar navbar-default navbar-section">
      <div class="container navbar-container">  
        <ul class="nav navbar-nav">
           <li class="<%= active?(/^#{config.relative_url_root}\/contemporarypoets\/browse\/featured/,
            request.path) %>">
            <%= link_to "Featured", contemporarypoets_browse_facet_path(facet: "featured") %>
          </li>
          <li class="<%= active?(/^#{config.relative_url_root}\/contemporarypoets\/browse(?!\/featured)/,
            request.path) %>">
            <%= link_to t("browse.title", default: "Browse"), prefix_path("browse_path") %>
          </li>
          <li class="<%= active?(contemporarypoets_search_path) %>">
            <%= link_to t("search.title", default: "Search"), prefix_path("search_path"), rel: "search" %>
          </li>
          <li class="<%= active?(contemporarypoets_about_path) %>">
            <%= link_to "About", contemporarypoets_about_path, rel: "about" %>
          </li>
        </ul>
      </div>
    </div><!-- /navbar -->
  <% end %>
  <% if @section.include?("inthenews") %>
    <div class="navbar navbar-default navbar-section">
      <div class="container navbar-container">
        <ul class="nav navbar-nav">
          <li class="<%= active?(/^#{config.relative_url_root}\/inthenews\/news/, request.path) %>">
            <%= link_to "News", inthenewsnewsitems_path %>
          </li>
          <li class="<%= active?(/^#{config.relative_url_root}\/inthenews\/poets/, request.path) %>">
            <%= link_to "Poets", inthenewspoets_path %>
          </li>
          <li class="<%= active?(/^#{config.relative_url_root}\/inthenews\/events/, request.path) %>">
            <%= link_to "Events", inthenewsevents_path %>
          </li>
          <li class="<%= active?(/^#{config.relative_url_root}\/inthenews\/works/, request.path) %>">
            <%= link_to "Works", inthenewsworks_path %>
          </li>
          <li class="<%= active?(/^#{config.relative_url_root}\/inthenews\/commentaries/, request.path) %>">
            <%= link_to "Commentaries", inthenewscommentaries_path %>
          </li>
          <li class="<%= active?(/^#{config.relative_url_root}\/inthenews\/visualizations/, request.path) %>">
            <%= link_to "Visualizations", inthenews_visualizations_path %>
          </li>
          <li class="<%= active?(/^#{config.relative_url_root}\/inthenews\/about/, request.path) %>">
            <%= link_to "About",
              inthenews_about_path %>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>
