<% if @section.present? %>
  <% if @section == "contemporarypoets" %>
    <div class="navbar navbar-inverse">
      <div class="container navbar-container">  
        <ul class="nav navbar-nav">
           <li class="<%= active?(/^#{config.relative_url_root}\/contemporarypoets\/browse/,
            request.path) %>">
            <%= link_to "Featured", contemporarypoets_browse_facet_path(facet: "featured") %>
          </li>
          <li class="<%= active?(/^#{config.relative_url_root}\/contemporarypoets\/browse/,
            request.path) %>">
            <%= link_to t("browse.title", default: "Browse"), prefix_path("browse_path") %>
          </li>
          <li class="<%= active?(contemporarypoets_search_path) %>">
            <%= link_to t("search.title", default: "Search"), prefix_path("search_path"), rel: "search" %>
          </li>
          <li class="<%= active?(contemporarypoets_about_path) %>">
            <%= link_to "About", contemporarypoets_about_path, rel: "about" %>
          </li>
        </ul>
      </div>
    </div><!-- /navbar -->
  <% end %>
  <% if @section == "about" %>
    <div class="navbar navbar-inverse">
      <div class="container navbar-container">
        <ul class="nav navbar-nav">
          <li class="<%= active?(about_homeabout_path) %>">
            <%= link_to "Credits", about_homeabout_path %>
          </li>
          <li class="<%= active?(about_africanpoetrybookfund_path) %>">
            <%= link_to "African Poetry Book Fund", about_africanpoetrybookfund_path %>
          </li>
          <li class="<%= active?(about_technicaldetails_path) %>">
            <%= link_to "Technical Details", about_technicaldetails_path %>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
  <% if @section == "inthenews" %>
    <div class="navbar navbar-inverse">
      <div class="container navbar-container">
        <ul class="nav navbar-nav">
          <li class="<%= active?(/^#{config.relative_url_root}\/inthenews\/news/, request.path) %>">
            <%= link_to "News", inthenews_news_items_path %>
          </li>
          <li class="<%= active?(/^#{config.relative_url_root}\/inthenews\/poets/, request.path) %>">
            <%= link_to "Poets", inthenews_poets_path %>
          </li>
          <li class="<%= active?(/^#{config.relative_url_root}\/inthenews\/events/, request.path) %>">
            <%= link_to "Events", inthenews_events_path %>
          </li>
          <li class="<%= active?(/^#{config.relative_url_root}\/inthenews\/works/, request.path) %>">
            <%= link_to "Works", inthenews_works_path %>
          </li>
          <li class="<%= active?(/^#{config.relative_url_root}\/inthenews\/commentaries/, request.path) %>">
            <%= link_to "Commentaries", inthenews_commentaries_path %>
          </li>
          <li class="<%= active?(inthenews_about_path) %>">
            <%= link_to "About", inthenews_about_path %>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>
