<div class="navbar navbar-inverse navbar-main">
  <div class="container navbar-container">
    
      <ul class="nav navbar-nav">
        <% if !(current_page?(home_path)) %>
        <li class="<%= active?(home_path) %>">
          <%= link_to t("home.title", default: "Home"), home_path %>
         
        </li>
        <% end %>
        <li class="<%= active?(/^#{config.relative_url_root}\/contemporarypoets/,
          request.path) %>">
          <%= link_to "Contemporary African Poets", contemporarypoets_home_path %>
        </li>
        <li class="<%= active?(/^#{config.relative_url_root}\/inthenews/, request.path) %>">
          <%= link_to "African Poets and Poetry in the News", inthenews_home_path %>
        </li>
        <li class="<%= active?(/^#{config.relative_url_root}\/about/, request.path) %>">
          <%= link_to t("about.title", default: "About"), about_path %>
        </li>
      </ul>
    
  </div>
</div><!-- /navbar -->
