<%#
Expecting the following variables:

  label: type of thing being search (poet, event, etc)
  link_label_attr: typically "name" or something
  link_path: individual item link

  yield: this comes from page blocks which have
    more complicated display for items

%>

<h1 class="sectiontitle">
  <%= t "inthenews.title" %>
</h1>

<h2><%= label %> Search</h2>

<div class="pagination">
  <%= will_paginate @items %>
</div>
<div class="search-item-count">
  <%= pluralize @items.count, label %>
</div>

<div class="search-results-list">
  <% @items.each do |item| %>
    <div class="row search-results-item">
      <div class="col-md-8">
        <%= link_search_result_item(item, link_label_attr, link_path) %>
      </div>
      <div class="col-md-4">
        <% if block_given? %>
          <%= yield item %>
        <% end %>
      </div>
    </div>
  <% end %>
</ul>

<div class="search-item-count">
  <%= will_paginate @items %>
</div>
