<script>
  var search_path = "<%= inthenews_search_events_path %>";
</script>

<h1 class="sectiontitle"><%= t "inthenews.title" %></h1>

<h2>Events</h2>

<div class="row">
  <div class="col-md-5">
    
    <%= render partial: "search_text_field", locals: {
      url: inthenews_search_events_path,
      label: "Search Events"
    } %>

    <%= link_to "Browse All Events", inthenews_search_events_path %>

    <h3>Decades</h3>
    <%= render partial: "group_count_table", locals: {
      collection: @decades,
      query_param: "decade",
      path: "inthenews_search_events_path"
    } %>

  </div>

  <div class="col-md-5" id="regions_map">
    <%= render "partials/map_africa" %>
  </div>

  <div class="col-md-2 inthenews_sidebar">
    <h3>Event Types</h3>
    <%= render partial: "group_count_table", locals: {
      collection: @event_types,
      query_param: "event_type",
      path: "inthenews_search_events_path"
    } %>

    <h3>Regions</h3>
    <%= render partial: "group_count_table", locals: {
      collection: @regions,
      query_param: "region",
      path: "inthenews_search_events_path"
    } %>
  </div>
</div>
