<%= render_overridable "partials", "inthenews_title" %>

</div>
<div class="inthenews_background">
  <div class="container">
    <div class="inthenews_bg_info">
      <p class="lead">African Poetry and Poetics in the News explores how depictions of African poetry in the news media have influenced and shaped perceptions of what African poetry is in the 21st century. It facilitates and supports current research relating to Poetry and Revolution, Race and Poetry, and Poetry and Migration as it relates to the African continent and cultures.</p>
        
        <%= link_to inthenews_about_path do %>
          <div class="home_callout">
            <p>About</p>
          </div>
        <% end %>
      </div>
 

  </div>
</div>
<div class="container">
  <div class="container-fluid home_container inthenews_container">
    <div class="row">
      <div class="col-md-6">
        <p>This first installment “African Poetry and Poetics in the Mother Country: A survey of African Poetry in the London Times, Sunday Times, Financial Times and the Times Literary Supplement 1865-1985” contains commentary, critical articles, interviews, images, reviews and any references to African poetics in three British (colonial) newspapers; The London Times, The Financial Times and the Sunday Times Newspapers from 1864-1978.</p>
      </div>
      <div class="col-md-6">
        <div class="row">
          <%= link_to inthenewsnewsitems_path do %>
            <div class="col-sm-6 home_callout home_callout_3">
              <p>Browse News</p>
            </div>
          <% end %>
          <%= link_to inthenewspoets_path do %>
            <div class="col-sm-6 home_callout home_callout_1">
              <p>Browse Poets</p>
            </div>
          <% end %>
        </div>
        <div class="row">
          <%= link_to inthenewsevents_path do %>
            <div class="col-sm-6 home_callout home_callout_2">
              <p>Browse Events</p>
            </div>
          <% end %>
          <%= link_to inthenewsworks_path do %>
            <div class="col-sm-6 home_callout home_callout_4">
              <p>Browse Works</p>
            </div>
          <% end %>
        </div>
    </div>
  </div>
