<h1 class="sectiontitle"><%= t "inthenews.title" %></h1>

<h2>News</h2>

<div class="row">
  <div class="col-md-5">
    
    <%= render partial: "search_text_field", locals: {
      url: inthenews_search_news_items_path,
      label: "Search News"
    } %>
    <%= link_to "Browse All News", inthenews_search_news_items_path %>

    <h3>Decades</h3>
    <%= render partial: "group_count_table", locals: {
      collection: @decades,
      query_param: "decade",
      path: "inthenews_search_news_items_path"
    } %>

  </div>

  <div class="col-md-5">
    <p>No regional search available for news items</p>
    <%= render "partials/map_africa" %>
  </div>

  <div class="col-md-2 inthenews_sidebar">
    <h3>News Format</h3>
    <%= render partial: "group_count_table", locals: {
      collection: @news_item_types,
      query_param: "news_type",
      path: "inthenews_search_news_items_path"
    } %>
  </div>
</div>
