<h1 class="sectiontitle"><%= t "inthenews.title" %></h1>

<h2><%= @item.name %></h2>
<h3><%= @item.date.strftime("%Y-%m-%d") if @item.date %></h3>

<div class="row">
  <div class="col-md-7">
    <% if @item.excerpt.present? %>
      <div class="well">
        <p><%= @item.excerpt %></p>
      </div>
    <% end %>

    <div class="row">
      <div class="col-md-6">
        <%= render partial: "simple_association_list", locals: {
          item: @item,
          label: "Events",
          assoc: "events",
          path: "inthenews_event_path"
        } %>
      </div>
      <div class="col-md-6">
        <%= render partial: "simple_association_list", locals: {
          item: @item,
          label: "Commentaries",
          assoc: "commentaries",
          path: "inthenews_commentary_path"
        } %>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6">
        <h3>Citation</h3>
        <div class="well">
          <%= @item.citation %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-5">
    <h3>Relationships</h3>

    <% if @item.news_item_roles %>
      <ul>
        <% @item.news_item_roles.each do |role| %>
          <% person = role.person %>
          <li>
            <% if person.poet_id %>
              <%= link_to person.name, inthenews_poet_path(person) %> | <%= role.role %>
            <% else %>
              <%= person.name %> | <%= role.role %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      No people associated with this news item
    <% end %>
    <ul>
  </div>

</div>
