<script>
  var search_path = "<%= inthenews_search_poets_path %>";
</script>

<h1 class="sectiontitle"><%= t "inthenews.title" %></h1>

<h2>Poets</h2>

<div class="row">

  <div class="col-md-5">
  
    <%= form_with(url: inthenews_search_poets_path, method: "get", local: true) do %>
      <%= label_tag(:q, "Search Poets") %>
      <div class="input-group">
        <%= text_field_tag(:q, nil, class: "form-control", placeholder: "Search for...") %>
        <span class="input-group-btn">
          <%= submit_tag("Search", class: "btn btn-default") %>
        </span>
      </div>
    <% end %>

    <%= link_to "Browse All Poets", inthenews_search_poets_path %>


    <ul class="timeslider">
      <% ("A".."Z").each do |letter| %>
        <li><%= link_to letter, inthenews_search_poets_path(letter: letter) %></li>
      <% end %>
    </ul>
    <p>Search by first letter of last name</p>


<!--     <ul class="timeslider">
      <li>1864</li>
      <li>1920</li>
      <li>1900</li>
      <li>1940</li>
      <li>1960</li>
      <li>1980</li>
      <li>2000</li>
    </ul> -->
    <p>(Coming soon)</p>
    <p>Search by decade by sliding the timeline to see the distribution of the Poets who had events in the news during that time period.</p>

    
  </div>

  <div class="col-md-5" id="regions_map">
    <%= render "partials/map_africa" %>
  </div>

  <div class="col-md-2 inthenews_sidebar">
    <h4>Browse by Region</h4>

    <table>
      <body>
        <% @regions.each do |label, count| %>
          <% path = inthenews_search_poets_path(region: label) %>
          <tr>
            <td class="index_num"><%= link_to count, path %></td>
            <td class="index_spacer">
              <%= link_to path do %>
                <span></span>
              <% end %>
            </td>
            <td class="index_name"><%= link_to label, path %></td>
          </tr>
        <% end %>
      </body>
    </table>
  </div>
</div>
