<h1 class="sectiontitle"><%= t "inthenews.title" %></h1>
<!-- TODO redo h tags -->

<h1 class="item_title"><%= @item.name %></h1>
<% if @item.name_alt.present? %>
  <h2 class="item_subtitle">Alternate names: <%= @item.name_alt %></h2>
<% end %>
<h3>
  <div class="nationalities"><%= @item.nationalities %></div>
  <span class="birth"><%= @item.date_birth %></span>
    to
  <span class="death"><%= @item.date_death %></span>
</h3>

<div class="row">

  <!-- BIOGRAPHY -->

  <div class="col-md-7">
    <p><%= @item.short_biography %></p>
    <div class="row">

      <!-- NEWS -->
      <div class="col-md-6">
        <h3>In the News</h3>
        <% if @news_items.blank? %>
          No news items
        <% else %>
          <ul>
            <li><%= link_to "All poet news items",
              inthenews_search_news_items_path(person_id: @item.id) %>
            </li>
            <% @news_items.each do |label, count| %>
              <li>
                <% l = "#{label.pluralize(count)} (#{count})" %>
                <% path = inthenews_search_news_items_path(
                  person_id: @item.id,
                  news_type: label
                ) %>
                <%= link_to l, path %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>

      <!-- EVENTS -->
      <div class="col-md-6">
        <h3>Events</h3>
        <% if @events.blank? %>
          No events
        <% else %>
          <ul>
            <li><%= link_to "All poet events",
              inthenews_search_events_path(person_id: @item.id) %>
            </li>
            <% @events.each do |label, count| %>
              <li>
                <%# NOTE: do not pluralize the label for events %>
                <% l = "#{label} (#{count})" %>
                <% path = inthenews_search_events_path(person_id: @item.id, event_type: label) %>
                <%= link_to l, path %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
    <div class="row">
      <h3>Works</h3>
      <% if @works.blank? %>
        No works
      <% end %>
      <ul>
        <li>
          <%= link_to "All works",
              inthenews_search_works_path(person_id: @item.id) %>
        </li>
        <% @works.each do |label, count| %>
          <li>
            <% l = "#{label.pluralize(count)} (#{count})" %>
            <% path = inthenews_search_works_path(
              person_id: @item.id, work_type: label)
            %>
            <%= link_to l, path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="col-md-5">
    <p class="well">Coming soon: Network diagram showing the relationship with other poets, professionals, and family.</p>

    <div class="row">
      <div class="col-md-6">
        <h3>Relationships</h3>
        <h4>Direct Relationships</h4>
        Coming soon

        <h4>Through News Items, Events, Works, and Educations</h4>
        <ul>
          <% all_related_people(@item).each do |person, count| %>
            <li>
              <% if person.poet_id.present? %>
                <%= link_to person.name, inthenews_poet_path(person) %>
              <% else %>
                <%= person.name %>
              <% end %>
              (<%= count %>)
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
