<script>
  var search_path = "<%= inthenews_search_poets_path %>";
</script>

<h1 class="sectiontitle"><%= t "inthenews.title" %></h1>

<h2>Poets</h2>

<div class="row">

  <div class="col-md-5">
  
    <%= render partial: "search_text_field", locals: {
      url: inthenews_search_poets_path,
      label: "Search Poets"
    } %>

    <%= link_to "Browse All Poets", inthenews_search_poets_path %>


    <ul class="timeslider">
      <% ("A".."Z").each do |letter| %>
        <li><%= link_to letter, inthenews_search_poets_path(letter: letter) %></li>
      <% end %>
    </ul>
    <p>Search by first letter of last name</p>

  </div>

  <div class="col-md-5" id="regions_map">
    <%= render "partials/map_africa" %>
  </div>

  <div class="col-md-2 inthenews_sidebar">
    <h4>Browse by Region</h4>

    <%= render partial: "group_count_table", locals: {
      collection: @regions,
      query_param: "region",
      path: "inthenews_search_poets_path"
    } %>

  </div>
</div>
