<h1 class="sectiontitle"><%= t "inthenews.title" %></h1>

<%= render "top_include" %>

<h2>Poets</h2>

<div class="row">

  <div class="col-md-5">
  
    <label for="exampleInput">Search Poets (coming soon)</label>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
    <%= link_to "Browse All Poets", inthenews_search_poets_path %>


    <ul class="timeslider">
      <% ("A".."Z").each do |letter| %>
        <li><%= link_to letter, inthenews_search_poets_path(letter: letter) %></li>
      <% end %>
    </ul>
    <p>Search by first letter of last name</p>


<!--     <ul class="timeslider">
      <li>1864</li>
      <li>1920</li>
      <li>1900</li>
      <li>1940</li>
      <li>1960</li>
      <li>1980</li>
      <li>2000</li>
    </ul> -->
    <p>(Coming soon)</p>
    <p>Search by decade by sliding the timeline to see the distribution of the Poets who had events in the news during that time period.</p>

    
  </div>

  <div class="col-md-5">
    <%= render "partials/map_africa" %>
  </div>

  <div class="col-md-2 inthenews_sidebar">
    <h4>Browse by Region</h4>

    <ul>
      <% @regions.each do |label, count| %>
        <% l = "#{label} (#{count})" %>
        <% path = inthenews_search_poets_path(region: label) %>
        <li>
          <%= link_to l, path %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
