<h1 class="sectiontitle"><%= t "inthenews.title" %></h1>

<h2>Commentary Search</h2>

<%= will_paginate @items %>
<%= pluralize @items.count, "Commentary" %>

<ul>
  <% @items.each do |item| %>
    <li>
      <%= link_to item.name, inthenews_commentary_path(item) %>
      | <%= item.author_credit %>
    </li>
  <% end %>
</ul>

<%= will_paginate @items %>
