<%= render_overridable "partials", "inthenews_title" %>
<h2><%= @res["title"] %></h2>


<% if @res["has_part_image_k"] %>
  <h3>Thumbnails</h3>
  <% @res["has_part_image_k"].split("; ").each do |image| %>
    <%= image_tag image %>
  <% end %>
<% end %>

<h3>Type</h3>
<%= @res["type"] %>

<h3>Published</h3>
<%= @res["date"] if @res["date_display"]%>
<br>
<%= @res["publisher"].join(" | ") %>

<% authors = @res["person"].select { |person| person["role"] == "Article Author"} %>
<% if authors.present? %>
  <h3>Authors (<%= authors.count %>)</h3>
  <%= authors.map { |author| author["name"] }.join("; ") %>
<% else %>
  <h3>Authors (0)</h3>
  No Author
<% end %>

<h3>Citation</h3>
<div class="well">
  "<%= @res["alternative"] %>", <%= @res["publisher"][0] if @res["publisher"] %>, <%= @res["date"].to_datetime.strftime("%d %b %Y") if @res["date"] %>,
  <%= @res["page_k"] %> <%= @res["rights_holder"][0] if @res["rights_holder"] %>, <%= link_to @res["rights_uri"], @res["rights_uri"] %>.
  Accessed <%= @res["date_not_after"].to_datetime.strftime("%d %b %Y") if @res["date_not_after"] %>
</div>


<% if @res["description"].present? %>
  <h3>Excerpt</h3>
  <div class="well">
    <p><%= @res["description"] %></p>
  </div>
<% end %>

<% if @res["subjects"].present? %>
  <h3>Related Events (<%= @res["subjects"].count %>)</h3>
  <ul>
    <% @res["subjects"].each do |topic| %>
      <%# markdown parsing %>
      <% name = parse_md_brackets(topic) %>
      <% id = parse_md_parentheses(topic) %>
      <li><%= link_to name, inthenewsevents_item_path(id)  %></li>
    <% end %>
  </ul>
<% end %>

<% if @res["person"].present? %>
  <h3>Related People (<%= @res["person"].count %>)</h3>
  <div class="item_data">
    <ul>
      <%# sort so that people with linked ids are at the top %>
      <% with_id = @res["person"].select{|person| person["id"].present? } %>
      <% no_id = @res["person"].select{|person| !person["id"].present? } %>
      <% with_id.each do |person| %>
        <li>
          <%= link_to person["name"], inthenewspoets_item_path(person["id"]) %> | <%= person["role"] %>
        </li>
      <% end %>
      <% no_id.each do |person| %>
        <li>
          <%= person["name"] %> | <%= person["role"] %>
        </li>
      <% end %>
    </ul>
  </div><%# / .item-data %>
<% else %>
  No people associated with this news item
<% end %>

<% if @res["works"].present? %>
  <h3>Related Works (<%= @res["works"].count %>)</h3>
  <div class="item_data">
    <ul>
      <% @res["works"].each do |work| %>
        <%# markdown parsing %>
        <% name = parse_md_brackets(work) %>
        <% id = parse_md_parentheses(work) %>
        <li><%= link_to name, inthenewsworks_item_path(id) %></li>
      <% end %>
    </ul>
  </div><%# / .item-data %>
<% end %>

<% if @res["keywords"].present? %>
  <h3>Tags (<%= @res["keywords"].count %>)</h3>
  <div class="item_data">
    <ul>
      <% @res["keywords"].each do |tag| %>
        <li>
          <%= link_to tag, inthenewsnewsitems_search_path(f: ["keywords|#{tag}"]) %>
        </li>
      <% end %>
    </ul>
  </div><%# / .item-data %>
<% end %>

<% if @res["publisher"].present? %>
  <h3>Repositories (<%= @res["publisher"].count %>)</h3>
  <div class="item_data">
    <% @res["publisher"].each do |publisher| %>
      <li>
        <%= publisher %>
      </li>
    <% end %>
  </div><%# / .item-data %>
<% end %>

<% if @res["relation"].present? %>
  <h3>Commentaries (1)</h3>
  <div class="item_data">
    <ul>
      <%# markdown parsing %>
      <% name = parse_md_brackets(@res["relation"]) %>
      <% id = parse_md_parentheses(@res["relation"]) %>
      <% if name %>
        <% if id %>
          <li><%= link_to name, inthenewscommentaries_item_path(id) %></li>
        <% else %>
          <li><%= name %></li>
        <% end %>
      <% end %>
    </ul>
  </div><%# / .item-data %>
<% end %>
