<script>
  var search_path = "<%= inthenews_poets_search_path %>";
</script>

<%= render_overridable "partials", "inthenews_title" %>

<h2>Poets</h2>

<div class="row">
  <div class="col-md-3">
    <h3>Browse</h3>
    <div class="browse_categories">
      <%= render partial: "inthenews/browse_home_display" %>
    </div>
    <h3>Last Name</h3>
    <div class="last_letter_browse">
      <% @facets["alternative"].each do |letter, count| %>
        <%= link_to inthenews_poets_search_path(f: ["alternative|#{letter}"]), class: "btn", role: "button" do %>
          <%= letter %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="col-md-9">
    <div class="row">
      <%= render partial: "inthenews/search_text_field", locals: {
      label: "Search Poets"
      } %>
      <p>
        <%= link_to "Advanced Search/View All Results",
          inthenews_poets_search_path,
          class: "btn btn-default btn-block",
          role: "button" %>
      </p>
    </div>

    <div class="row">
      <div class="col-xs-8">

        <div id="regions_map">
          <%= render "partials/map_africa" %>
        </div>
      </div>

      <div class="col-xs-4 inthenews_sidebar">
        <h3>Regions</h3>

        <%= render partial: "inthenews/group_count_table", locals: {
          facet: "spatial.region" } %>
      </div>
    </div> <%# /row %>
  </div> <%# /col-md-9 %>

</div>
