<script>
  var search_path = "<%= inthenews_poets_search_path %>";
</script>

<%= render_overridable "partials", "inthenews_title" %>

<h2>Poets</h2>

<div class="row">
  <div class="col-md-3">
    <h3>Browse</h3>
    <div class="browse_categories">
      <%= link_to "Browse All", inthenews_poets_browse_path, 
        class: "display_callout browse_all" %>
      <%= render partial: "inthenews/browse_home_display", locals: {
        path: "inthenews_poets_browse_facet_path"
      } %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="subtle_callout">
      <%= render partial: "inthenews/search_text_field", locals: {
      url: inthenews_poets_search_path,
      label: "Search Poets"
      } %>
      <p><%= link_to "Advanced Search/View All Results", inthenews_poets_search_path %></p>
    </div>

    <div id="regions_map">
      <%= render "partials/map_africa" %>
    </div>
  </div>

  <div class="col-md-3 inthenews_sidebar">
    <h3>Regions</h3>

    <%= render partial: "inthenews/group_count_table", locals: {
      facet: "spatial.region",
      path: "inthenews_poets_search_path"
    } %>
  </div>
</div>
