<script>
  var search_path = "<%= inthenews_poets_search_path %>";
</script>

<h1 class="sectiontitle"><%= t "inthenews.title" %></h1>

<h2>Poets</h2>

<div class="row">

  <div class="col-md-5">
  
    <%= render partial: "inthenews/search_text_field", locals: {
      url: inthenews_poets_search_path,
      label: "Search Poets"
    } %>

    <%= link_to "Browse All Poets", inthenews_poets_search_path %>


    <ul class="timeslider">
      <% ("A".."Z").each do |letter| %>
        <li><%= link_to letter, inthenews_poets_search_path(f: ["alternative|#{letter}"]) %></li>
      <% end %>
    </ul>
    <p>Search by first letter of last name</p>

    <h3>Other</h3>
    Browse by
    <%= link_to "university", inthenews_poets_browse_facet_path(facet: "keywords") %>
    |
    <%= link_to "nationality",
      inthenews_poets_browse_facet_path(facet: "places") %>

  </div>

  <div class="col-md-5" id="regions_map">
    <%= render "partials/map_africa" %>
  </div>

  <div class="col-md-2 inthenews_sidebar">
    <h4>Browse by Region</h4>

    <%= render partial: "inthenews/group_count_table", locals: {
      facet: "spatial.region",
      path: "inthenews_poets_search_path"
    } %>

  </div>
</div>
