<%= render_overridable "partials", "inthenews_title" %>

<h2><%= @res["title"] %></h2>

<h3>Biography</h3>

<% if @res["places"].present? %>
  <div>
    <%= @res["places"].join(", ") %>
  </div>
<% end %>

<% if @res["date_not_before"].present? %>
  <div>
    Birth date: <%= @res["date_not_before"] %>
    <% if @res["date_not_after"].present? %>
      <div>
        <% if @res["date_not_after"] == "Present" %>
          Currently Living
        <% else %>
          Death date: <%= @res["date_not_after"] %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
<% if @res["spatial"].present? %>
  <% birthplace = @res["spatial"].select { |place| place["type"] == "birth place" } %>
  <% if birthplace %>
    <div>
      Birth location: <%= birthplace[0]["country"] %>
      <% if birthplace[0]["city"] %>
        , <%= birthplace[0]["city"]  %>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if @res["date_not_after"].present? %>
  <div>
    <% if @res["date_not_after"] == "Present" %>
      Currently Living
    <% else %>
      Death date: <%= @res["date_not_after"] %>
    <% end %>
  </div>
<% end %>

<div class="well">
  <%= @res["description"] %>
</div>

<% if @res["keywords"].present? %>
  <h3>Education</h3>
  <div class="item_data">
    <ul>
    <% @res["keywords"].each do |education| %>
      <li>
        <%= education %>
      </li>
    <% end %>
    </ul>
  </div><%# /.item_data %>
<% end %>

<% if @res["medium"].present? %>
  <h3>News Items (<%= @res["medium"].count %>)</h3>
  <div class="item_data">
    <ul>
      <% @res["medium"].each do |item| %>
        <% title = item.split("|")[0] %>
        <% role = item.split("|")[1] %>
        <% if title %>
          <li><%= title %> (<%= role %>)</li>
        <% end %>
      <% end %>
    </ul>
  </div><%# / .item-data %>
<% end %>

<% if @res["subjects"].present? %>
  <h3>Events (<%= @res["subjects"].count %>)</h3>
  <div class="item_data">
    <ul>
      <% @res["subjects"].each do |subject| %>
        <li><%= subject %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if @res["works"].present? %>
  <h3>Related Works (<%= @res["works"].count %>)</h3>
  <div class="item_data">
    <ul>
      <% @res["works"].each do |work| %>
        <% work_data = work.split("|")[0] %>
        <% if work_data.present? %>
          <% role = work.split("|")[1] %>
          <% title = /\[(.*)\]/.match(work_data)[1] if /\[(.*)\]/.match(work_data) %>
          <% id = /\]\((.*)\)/.match(work_data)[1] if /\]\((.*)\)/.match(work_data) %>
          <li><%= link_to title, inthenews_works_item_path(id) %> (<%= role %>)</li>
        <% end %>
      <% end %>
    </ul>
  </div><%# / .item-data %>
<% end %>

<%# if @item.commentaries.present? %>
  <h3>Commentaries (<%#= @item.commentaries.count %>)</h3>
  <div class="item_data">
    <ul>
      <%# @item.commentaries.each do |comm| %>
        <li>
          <%# id = db_to_es_id("commentary", comm.id) %>
          <%#= link_to comm.name, inthenews_commentaries_item_path(id: id) %>
        </li>
      <%# end %>
    </ul>
  </div><%# /.item_data %>
<%# end %>

<%# TODO could possibly construct this more easily with elasticsearch,
assuming that all poets are readily available as person.name, etc %>

<%# rel_people = all_related_people(@item) %>
<h3>
  Close Relationships (<%#= rel_people.length %>)
  <button type="button" class="btn btn-default collapsed"
    data-toggle="collapse" data-target="#relationship_help"
    aria-expanded="false" aria-controls="relationship_help"
    aria-label="relationship help">
    ?
  </button>
</h3>

<div class="collapse" id="relationship_help" aria-expanded="false" style="height: 0px;">
  <div class="well">
    Relationships are drawn from direct familial relationships and shared events, news items, works, and educations.
  </div>
</div>
<div class="item_data">
  <ul>
    <%# rel_people.each do |person, count| %>
      <%# next if person.blank? %>
      <li>
        <%# if person.major_african_poet %>
          <%# id = db_to_es_id("person", person.id) %>
          <%#= link_to person.name, inthenews_poets_item_path(id: id) %>
        <%# else %>
          <%#= person.name %>
        <%# end %>
        (<%#= count %>)
      </li>
    <%# end %>
  </ul>
</div><%# /.item_data %>
