<%= render_overridable "partials", "inthenews_title" %>

<h2><%= @res["title"] %></h2>

<h3>Biography</h3>

<% if @res["spatial"].present?&& @res["spatial"].find { |place| place["role"] == "placename" } %>
  <div>
    <% places = @res["spatial"].find { |place| place["role"] == "placename" } %>
    <% if places && places["short_name"].present? %>
      <%= places["short_name"].join(", ") %>
    <% end %>
  </div>
<% end %>

<% if @res["date_not_before"].present? %>
  <div>
    Birth date: <%= @res["date_not_before"] %>
  </div>
<% end %>

<% if @res["spatial"].present? %>
  <% birthplace = @res["spatial"].select { |place| place["role"] == "birth place" } %>
  <% if birthplace.present? %>
    <div>
      Birth location: 
      <% if birthplace[0]["city"] %>
        <%= birthplace[0]["city"]  %>, 
      <% end %>
      <%= birthplace[0]["country"] %>
    </div>
  <% end %>
<% end %>

<% if @res["date_not_after"].present? %>
  <div>
    <% if @res["date_not_after"] == "Present" %>
      Currently Living
    <% else %>
      Death date: <%= @res["date_not_after"] %>
    <% end %>
  </div>
<% end %>

<div class="well">
  <%= simple_format(@res["description"]) %>
</div>

<% if @res["keywords"].present? %>
  <h3>Education</h3>
  <div class="item_data">
    <ul>
    <% @res["keywords"].each do |education| %>
      <li>
        <%= education %>
      </li>
    <% end %>
    </ul>
  </div><%# /.item_data %>
<% end %>

<% if @res["medium"].present? %>
  <h3>News Items (<%= @res["medium"].count %>)</h3>
  <div class="item_data">
    <ul>
      <% @res["medium"].each do |item| %>
        <% if item[0] == "|" %>
          <% next %>
        <% end %>
        <% name_and_id = item.split("|")[0] %>
        <% role = item.split("|")[1] %>
        <%# markdown parsing %>
        <% name = parse_md_brackets(name_and_id) %>
        <% id = parse_md_parentheses(name_and_id) %>
        <% if id.present? %>
          <li><%= link_to name, inthenewsnewsitems_item_path(id) %> | <%= role %></li>
        <% else %>
          <li><%= name %> | <%= role %></li>
        <% end %>
      <% end %>
    </ul>
  </div><%# / .item-data %>
<% end %>

<% if @res["subjects"].present? %>
  <h3>Events (<%= @res["subjects"].count %>)</h3>
  <div class="item_data">
    <ul>
      <% @res["subjects"].each do |subject| %>
        <%# markdown parsing %>
        <% name = parse_md_brackets(subject) %>
        <% id = parse_md_parentheses(subject) %>
        <li><%= link_to name, inthenewsevents_item_path(id) %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if @res["citation"].present? %>
  <h3>Related Works (<%= @res["citation"]["title"].count %>)</h3>
  <div class="item_data">
    <ul>
      <% @res["citation"]["title"].each do |work| %>
        <% work_data = work.split("|")[0] %>
        <% role_data = work.split("|")[1] %>
        <% if work_data.present? && role_data.present? %>
          <% role = role_data.gsub('"', '') %>
          <%# markdown parsing %>
          <% title = parse_md_brackets(work_data) %>
          <% id = parse_md_parentheses(work_data) %>
          <% if title.present? && id.present? %>
            <li><%= link_to title, inthenewsworks_item_path(id) %> (<%= role %>)</li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div><%# / .item-data %>
<% end %>

<% if @res["has_relation"].present? && @res["has_relation"]["title"].present? %>
  <h3>Commentaries (<%= @res["has_relation"]["title"].count %>)</h3>
  <div class="item_data">
    <ul>
      <% @res["has_relation"]["title"].each do |item| %>
        <%# markdown parsing %>
        <% name = parse_md_brackets(item) %>
        <% id = parse_md_parentheses(item) %>
        <% if name.present? %>
          <% if id.present? %>
            <li><%= link_to name, inthenewscommentaries_item_path(id) %></li>
          <% else %>
            <li><%= name %></li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div><%# / .item-data %>
<% end %>

<%# TODO could possibly construct this more easily with elasticsearch,
assuming that all poets are readily available as person.name, etc %>
<% if @res["person"].present? %>
  <% rel_people = @res["person"].select {|p| p["id"] != @res["identifier"]} %>
  <h3>
    Close Relationships (<%= rel_people.count %>)
    <button type="button" class="btn btn-default collapsed"
      data-toggle="collapse" data-target="#relationship_help"
      aria-expanded="false" aria-controls="relationship_help"
      aria-label="relationship help">
      ?
    </button>
  </h3>

  <div class="collapse" id="relationship_help" aria-expanded="false" style="height: 0px;">
    <div class="well">
      Relationships are drawn from direct familial relationships and shared events, news items, works, and educations.
    </div>
  </div>
  <div class="item_data">
    <ul>
      <% rel_people.each do |person| %>
        <li>
          <% if person["id"].present? %>
            <%= link_to person["name"], inthenewspoets_item_path(person["id"]) %>
          <% else %>
            <%= person["name"] %>
          <% end %>
          (<%= person["role"] %>)
        </li>
      <% end %>
    </ul>
  </div><%# /.item_data %>

  <h3>Relevant resources</h3>
  <% if @res["category2"].include?("Index of Poets") %>
    <h4>Poet in Index of Poets</h4>
    <%= link_to @res["title"], index_of_poets_item_path(@res["identifier"]) %>
  <% end %>
<% end %>
