</div>
<div class="container-fluid home_container">

  <div class="row">
    <div class="col-sm-6">
      <p class="lead">Proin gravida finibus gravida. Ut tincidunt libero in justo fringilla semper. Donec non erat facilisis.</p>

      <p>Facilisis mollis volutpat. Proin interdum, ipsum laoreet fermentum efficitur, justo orci ullamcorper orci, sit amet scelerisque eros nulla id lectus. Nulla placerat quam eu volutpat hendrerit. Donec mollis tristique purus quis auctor. Duis sit amet luctus nulla. Nulla risus eros, bibendum ut lobortis nec, luctus at leo. Morbi id justo porta, blandit neque nec, ultricies nibh. </p>

      <div class="row">
        <%= link_to browse_facet_path(facet: "person.name") do %>
          <div class="col-sm-6 home_callout home_callout_1">
            <p>Browse by Poet</p>
          </div>
        <% end %>
        <%= link_to browse_facet_path(facet: "places") do %>
          <div class="col-sm-6 home_callout home_callout_2">
            <p>Browse by Country</p>
          </div>
        <% end %>
      </div>
      <div class="row">
        <%= link_to browse_facet_path(facet: "keywords") do %>
          <div class="col-sm-6 home_callout home_callout_3">
            <p>Browse by Region</p>
          </div>
        <% end %>
        <%= link_to browse_facet_path(facet: "works") do %>
          <div class="col-sm-6 home_callout home_callout_4">
            <p>Browse by Works</p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-6">
      <%= render "general/map_africa" %>
    </div>
  </div>

  <p>
    <%# link_to "Map Demo", browse_mapdemo %>
  </p>
