<p class="lead home_para"><strong>The African Poetry Digital Portal</strong> is a project of the <%= link_to "African Poetry Book Fund", about_africanpoetrybookfund_path %>. The Portal  is a resource for the study of the history of African Poetry providing access to biographical information, artifacts, news, video recording, images and documents related to African poetry from antiquity to the present. It will also feature specially curated digital projects on various aspects of African poetry.</p>

</div><%# end container div to make full width illustration %>

<div class="home_illustration">
  <div class="container">
  </div>
</div>

<div class="container"><%# start container div again %>

  <div class="row home_callout_links">
    <%= link_to contemporarypoets_home_path do %>
      <div class="col-sm-6 home_callout home_callout_1">
        <p><%= t "contemporaryafricanpoets.title" %></p>
      </div>
    <% end %>
    <%= link_to inthenews_home_path do %>
      <div class="col-sm-6 home_callout home_callout_2">
        <p><span><%= t "inthenews.title_html" %></span><%# span is there to aid in flex centering %></p>
      </div>
    <% end %>
    <%= link_to dhgrant_path do %>
      <div class="col-sm-12 home_callout home_callout_3">
        <p><span><%= t "dhgrant.title" %></span><%# span is there to aid in flex centering %></p>
      </div>
    <% end %>
  </div>

  <p class="lead home_para">The first two sections of the portal—<%= link_to "Contemporary African Poets", contemporarypoets_home_path %> and <%= link_to "African Poets and Poetry in the News", inthenews_home_path %> have been developed with the support of the <a href="https://www.fordfoundation.org/">Ford Foundation</a> and the <a href="https://cdrh.unl.edu/">Center for Digital Research in the Humanities</a> at the <a href="https://www.unl.edu/">University of Nebraska, Lincoln</a>.</p>
