<%# poet_metadata_contain exists so I can include image using the flex layout %>
<div class="poet_metadata_contain">

  <% if @res["type"] == "Featured" %>
    <div class="poet_image">
      <%= image_tag iiif("poet_images%2F#{@res["identifier"]}.jpg", size: "!800,800") %>
    </div>
  <% end %>

  <%# pulling entirely from elasticsearch currently %>
  <div class="metadata">

  <% if @res["description"].present? %>
    <div class="author_data row">
      <h4>Biography</h4>
        <p><%= simple_format(@res["description"]) %></p>
    </div>
  <% end %>
    
  <% if @res["places"].present? %>
    <div class="author_data row">
      <h4>Country</h4>
        <p><%= @res["places"].join(", ") %></p>
    </div>
  <% end %>

  <% if @res["spatial"]["region"].present? %>
    <div class="author_data row">
      <h4>Region</h4>
        <p><%= @res["spatial"]["region"].join(", ") %></p>
    </div>
  <% end %>

  <% if @res["person_gender_k"].present? %>
    <div class="author_data row">
      <h4>Gender</h4>
        <p><%= @res["person_gender_k"] %></p>
    </div>
  <% end %>

<% if @res["works"].present? %>
  <h3>Bibliography</h3>
  <div class="item_data">
    <ul>
      <% @res["works"].each do |work| %>
        <% work_data = work.split("|")[0] %>
        <% if work_data.present? %>
          <% role = work.split("|")[1] %>
          <%# markdown parsing %>
          <% title = parse_md_brackets(work_data) %>
          <% id = parse_md_parentheses(work_data) %>
          <li><%= link_to title, inthenewsworks_item_path(id) %> (<%= role %>)</li>
        <% end %>
      <% end %>
    </ul>
  </div><%# / .item-data %>
<% end %>

  <% if @res["source"].present? %>
    <div class="author_data row">
      <h4>Source</h4>
        <p><%= @res["source"] %></p>
    </div>
  <% end %>

  <% if @res["date_not_before"].present? %>
    <div class="author_data row">
     <h4>Birth Date</h4>
        <p><%= @res["date_not_before"] %></p>
    </div>
  <% end %>

  <% if @res["spatial"]["country"].present? %>
    <div class="author_data row">
      <h4>Birth Place</h4>
        <p><%= @res["spatial"]["country"].join(", ") %></p>
    </div>
  <% end %>

  <% if @res["date_not_after"].present? %>
    <div class="author_data row">
      <h4>Death Date</h4>
        <p><%= @res["date_not_after"] %></p>
    </div>
  <% end %>

  <% if @res["spatial_name_death_k"].present? %>
    <div class="author_data row">
      <h4>Death Place</h4>
        <p><%= @res["spatial_name_death_k"] %></p>
    </div>
  <% end %>

  <% if @res["keywords"].present? %>
    <h3>Education</h3>
    <div class="author_data row">
      <p><%= @res["keywords"].join(", ") %></p>
    </div><%# /.item_data %>
  <% end %>

  <% if @res["language"].present? %>
    <div class="author_data row">
      <h4>Languages</h4>
        <p><%= @res["language"] %></p>
    </div>
  <% end %>

  </div><%# /metadata %>
</div><%# /poet_metadata_contain %>
