<%# poet_metadata_contain exists so I can include image using the flex layout %>
<div class="poet_metadata_contain">

  <% if @res["type"] == "Featured" %>
    <div class="poet_image">
      <%= image_tag iiif("poet_images%2F#{@res["identifier"]}.jpg", size: "!800,800") %>
    </div>
  <% end %>

  <%# pulling entirely from elasticsearch currently %>
  <div class="metadata">

  <% if @res["description"].present? %>
    <div class="author_data row">
      <h2>Biography</h2>
        <p><%= simple_format(@res["description"]) %></p>
    </div>
  <% end %>


  <% if @res["date_not_before"].present? %>
    <div class="author_data row">
     <h2>Birth Date</h2>
        <p><%= @res["date_not_before"] %></p>
    </div>
  <% end %>

  <% if @res["spatial"].present? %>
    <% birthplace = @res["spatial"].select { |place| place["role"] == "birth place" } %>
    <% if birthplace.present? %>
      <div class="author_data row">
        <h2>Place of Birth</h2>
          <div>
            <% if birthplace[0]["city"] %>
              <%= birthplace[0]["city"]  %>, 
            <% end %>
            <%= birthplace[0]["country"] %>
          </div>
      </div>
    <% end %>
  <% end %>

  <% if @res["date_not_after"].present? %>
    <div class="author_data row">
      <h2>Death Date</h2>
        <p><%= @res["date_not_after"] %></p>
    </div>
  <% end %>

  <% if @res["place_death_k"].present? %>
    <div class="author_data row">
      <h2>Place of Death</h2>
        <p><%= @res["place_death_k"] %></p>
    </div>
  <% end %>

  <%# if @res["person_gender_k"].present? %>
    <%# <div class="author_data row"> %>
      <%# <h4>Gender</h4> %>
        <!--<p>--><%#= @res["person_gender_k"] %><!--</p>-->
    <%# </div> %>
  <%# end %>

  <% if @res["ethnicity_k"].present? %>
    <h2>Ethnicity</h2>
    <div class="author_data row">
      <p><%= @res["ethnicity_k"].join(", ") %></p>
    </div><%# /.item_data %>
  <% end %>

  <% if @res["spatial"].present? && @res["spatial"].find { |s| s["role"] == "placename" } %>
    <div class="author_data row">
      <h2>Country of Nationality</h2>
        <% nationality = @res["spatial"].find { |s| s["role"] == "placename" } %>
        <p><%= nationality["short_name"].join(", ") %></p>
    </div>
  <% end %>

  <% if @res["country_residence_k"].present? %>
    <div class="author_data row">
      <h2>Country of Residence</h2>
        <p><%= @res["country_residence_k"].join(", ") %></p>
    </div>
  <% end %>

  <% if @res["language"].present? %>
    <div class="author_data row">
      <h2>Languages Spoken</h2>
        <p><%= @res["language"] %></p>
    </div>
  <% end %>

  <% if @res["keywords"].present? %>
    <h2>Education</h2>
    <div class="author_data row">
      <p><%= @res["keywords"].join(", ") %></p>
    </div><%# /.item_data %>
  <% end %>

  <h2>Select Works</h2>
  
  <% if @res["poems_k"].present? %>
    <div class="author_data row">
      <h3>Poems</h3>
        <p><%= simple_format(@res["poems_k"]) %></p>
    </div>
  <% end %>

  <% if @res["poetry_collections_k"].present? %>
    <div class="author_data row">
      <h3>Poetry Collections</h3>
        <p><%= simple_format(@res["poetry_collections_k"]) %></p>
    </div>
  <% end %>

  <% if @res["speeches_k"].present? %>
    <div class="author_data row">
      <h3>Speeches, Lectures, Interviews, Performances / Critical Articles, Media </h3>
        <p><%= simple_format(@res["speeches_k"]) %></p>
    </div>
  <% end %>

  <% if @res["has_source"].present? && @res["has_source"]["title"].present? %>
    <div class="author_data row">
      <h2>Sources</h2>
        <p><%= simple_format(@res["has_source"]["title"]) %></p>
    </div>
  <% end %>

  <h2>Relevant resources</h2>

  <% if @res["category2"].include?("In the News") %>
    <h3>Poet in the News</h3>
    <%= link_to @res["title"], inthenewspoets_item_path(@res["identifier"]) %>
  <% end %>



  </div><%# /metadata %>
</div><%# /poet_metadata_contain %>
