<%# poet_metadata_contain exists so I can include image using the flex layout %>
<div class="poet_metadata_contain">

  <% if @res["type"] == "Featured" %>
    <div class="poet_image">
      <%= image_tag iiif("poet_images%2F#{@res["identifier"]}.jpg", size: "!800,800") %>
    </div>
  <% end %>

  <%# pulling entirely from elasticsearch currently %>
  <div class="metadata">

  <% if @res["description"].present? %>
    <div class="author_data row">
      <h4>Biography</h4>
        <p><%= simple_format(@res["description"]) %></p>
    </div>
  <% end %>


  <% if @res["date_not_before"].present? %>
    <div class="author_data row">
     <h4>Birth Date</h4>
        <p><%= @res["date_not_before"] %></p>
    </div>
  <% end %>

  <% if @res["spatial"].present? %>
    <% birthplace = @res["spatial"].select { |place| place["type"] == "birth place" } %>
    <% if birthplace.present? %>
      <div class="author_data row">
        <h4>Place of Birth</h4>
          <div>
            <% if birthplace[0]["city"] %>
              <%= birthplace[0]["city"]  %>, 
            <% end %>
            <%= birthplace[0]["country"] %>
          </div>
      </div>
    <% end %>
  <% end %>

  <% if @res["date_not_after"].present? %>
    <div class="author_data row">
      <h4>Death Date</h4>
        <p><%= @res["date_not_after"] %></p>
    </div>
  <% end %>

  <% if @res["place_death_k"].present? %>
    <div class="author_data row">
      <h4>Place of Death</h4>
        <p><%= @res["place_death_k"] %></p>
    </div>
  <% end %>

  <%# if @res["person_gender_k"].present? %>
    <%# <div class="author_data row"> %>
      <%# <h4>Gender</h4> %>
        <p><%#= @res["person_gender_k"] %></p>
    <%# </div> %>
  <%# end %>

  <% if @res["ethnicity_k"].present? %>
    <h3>Ethnicity</h3>
    <div class="author_data row">
      <p><%= @res["ethnicity_k"].join(", ") %></p>
    </div><%# /.item_data %>
  <% end %>

  <% if @res["places"].present? %>
    <div class="author_data row">
      <h4>Country of Nationality</h4>
        <p><%= @res["places"].join(", ") %></p>
    </div>
  <% end %>

  <% if @res["country_residence_k"].present? %>
    <div class="author_data row">
      <h4>Country of Residence</h4>
        <p><%= @res["country_residence_k"].join(", ") %></p>
    </div>
  <% end %>

  <% if @res["language"].present? %>
    <div class="author_data row">
      <h4>Languages Spoken</h4>
        <p><%= @res["language"] %></p>
    </div>
  <% end %>

  <% if @res["keywords"].present? %>
    <h3>Education</h3>
    <div class="author_data row">
      <p><%= @res["keywords"].join(", ") %></p>
    </div><%# /.item_data %>
  <% end %>

  <h3>Select Works</h3>
  
  <% if @res["poems_k"].present? %>
    <div class="author_data row">
      <h4>Poems</h4>
        <p><%= simple_format(@res["poems_k"]) %></p>
    </div>
  <% end %>

  <% if @res["poetry_collections_k"].present? %>
    <div class="author_data row">
      <h4>Poetry Collections</h4>
        <p><%= simple_format(@res["poetry_collections_k"]) %></p>
    </div>
  <% end %>

  <% if @res["speeches_k"].present? %>
    <div class="author_data row">
      <h4>Speeches, Lectures, Interviews, Performances / Critical Articles, Media </h4>
        <p><%= simple_format(@res["speeches_k"]) %></p>
    </div>
  <% end %>

  <% if @res["source"].present? %>
    <div class="author_data row">
      <h4>Sources</h4>
        <p><%= @res["source"] %></p>
    </div>
  <% end %>

  <h3>Relevant resources</h3>

  <% if @res["subcategory"].include?("In the News") %>
    <h3>Poet in the News</h3>
    <%= link_to @res["title"], inthenewspoets_item_path(@res["identifier"]) %>
  <% end %>



  </div><%# /metadata %>
</div><%# /poet_metadata_contain %>
