<%= render_overridable "partials", "inthenews_title" %>

<h2><%= @res["title"] %></h2>

<h3>Summary</h3>

<% if @res["spatial"].present? %>
  <div>
    Location:
    <%= @res["spatial"]["country"] %>, <%= @res["spatial"]["city"] %>
  </div>
<% end %>

<% if @res["date"].present? %>
  <div>
    Date: <%= @res["date"] %>
  </div>
<% end %>

<% if @res["type"].present? %>
  <div>
    Type: <%= @res["type"] %>
  </div>
<% end %>

<% if @res["description"].present? %>
  <div class="well">
    <%= @res["description"] %>
  </div>
<% end %>

<% if @res["medium"].present? %>
  <h3>News Items (<%= @res["medium"].count %>)</h3>
  <div class="item_data">
    <ul>
      <% @res["medium"].each do |item| %>
        <%# markdown parsing %>
        <% name = /\[(.*)\]/.match(item)[1] if /\[(.*)\]/.match(item) %>
        <% id = /\]\((.*)\)/.match(item)[1] if /\]\((.*)\)/.match(item) %>
        <% if name %>
          <% if id %>
            <li><%= link_to name, inthenewsnewsitems_item_path(id) %></li>
          <% else %>
            <li><%= name %></li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div><%# / .item-data %>
<% end %>

<% african_poets = @res["person"].select { |person| person["role"] == "African Poet"} %>
<% if african_poets.present? %>
  <h3>African Poets (<%= african_poets.count %>)</h3>
  <div class="item_data">
    <ul>
      <% african_poets.each do |poet| %>
        <% if poet["id"].present?  %>
          <li><%= link_to poet["name"], inthenewspoets_item_path(poet["id"]) %></li>
        <% else %>
          <li><%= poet["name"] %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>

<% if @res["relation"].present? %>
  <h3>Commentaries (<%= @res["relation"].count %>)</h3>
  <div class="item_data">
    <ul>
      <% @res["relation"].each do |item| %>
        <%# markdown parsing %>
        <% name = /\[(.*)\]/.match(item)[1] if /\[(.*)\]/.match(item) %>
        <% id = /\]\((.*)\)/.match(item)[1] if /\]\((.*)\)/.match(item) %>
        <% if name %>
          <% if id %>
            <li><%= link_to name, inthenewscommentaries_item_path(id) %></li>
          <% else %>
            <li><%= name %></li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div><%# / .item-data %>
<% end %>

<% if @res["person"].present? %>
  <%# all people except African Poets%>
  <% people = @res["person"].select { |person| person["role"] != "African Poet"} %>
  <h3>Related People (<%= people.count %>)</h3>
  <div class="item_data">
    <ul>
      <%# sort so that  people with linked id's are at the top %>
      <% with_id = people.select{|person| person["id"].present? } %>
      <% no_id = people.select{|person| !person["id"].present? } %>
      <% with_id.each do |person| %>
        <li>
          <%= link_to "#{person["name"]} (#{person["role"]})", inthenewspoets_item_path(person["id"]) %>
        </li>
      <% end %>
      <% no_id.each do |person| %>
        <li>
          <%= "#{person["name"]} (#{person["role"]})" %>
        </li>
      <% end %>
    </ul>
  </div><%# / .item-data %>
<% else %>
  No people associated with this news item
<% end %>
