<%= render_overridable "partials", "inthenews_title" %>

<h2 class="item_title"><%= @res["title"] %></h2>

<h3>Summary</h3>

<% if @res["year"].present? %>
  <div>
    Date: <%= @res["year"] %>
  </div>
<% end %>

<% if @res["citation"].present? && @res["citation"]["publisher"].present? %>
  <div>
    Publisher: <%= @res["citation"]["publisher"].join(", ") %>
  </div>
<% end %>

<% if @res["location"].present? %>
  <div>
    Location: <%= @res["location"]["country"] %>, <%= @res["location"]["city"] %>
  </div>
<% end %>

<% if @res["type"].present? %>
  <div>
    Type: <%= @res["type"].join(", ") %>
  </div>
<% end %>

<% authors = @res["person"].select { |person| person["role"] == "Work Author"} %>
<% if authors.present? %>
  <h3>Authors (<%= authors.count %>)</h3>
  <ul>
  <% authors.each do |author| %>
    <% if author["id"].present?  %>
      <li><%= link_to author["name"], inthenewspoets_item_path(author["id"]) %></li>
    <% else %>
      <li><%= author["name"] %></li>
    <% end %>
  <% end %>
  </ul>
<% else %>
  <h3>Authors (0)</h3>
  No Author
<% end %>

<% if @res["person"].present? %>
  <% people = @res["person"].select { |person| person["role"] != "Work Author"} %>
  <h3>Related People (<%= people.count %>)</h3>
  <div class="item_data">
    <ul>
      <% with_id = people.select{|person| person["id"].present? } %>
      <% no_id = people.select{|person| !person["id"].present? } %>
      <% with_id.each do |person| %>
        <li>
          <%= link_to "#{person["name"]} (#{person["role"]})", inthenewspoets_item_path(person["id"]) %>
        </li>
      <% end %>
      <% no_id.each do |person| %>
        <li>
          <%= "#{person["name"]} (#{person["role"]})" %>
        </li>
      <% end %>
    </ul>
  </div><%# / .item-data %>
<% else %>
  No people associated with this news item
<% end %>

<% if @res["medium"].present? %>
  <h3>News Items (<%= @res["medium"].count %>)</h3>
  <div class="item_data">
    <ul>
      <% @res["medium"].each do |item| %>
        <%# markdown parsing %>
        <% name = parse_md_brackets(item) %>
        <% id = parse_md_parentheses(item) %>
        <% if name.present? %>
          <% if id.present? %>
            <li><%= link_to name, inthenewsnewsitems_item_path(id) %></li>
          <% else %>
            <li><%= name %></li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div><%# / .item-data %>
<% end %>

<% if @res["has_relation"].present? && @res["has_relation"]["title"].present?  %>
  <h3>Commentaries (<%= @res["has_relation"]["title"].count %>)</h3>
  <div class="item_data">
    <ul>
      <% @res["has_relation"]["title"].each do |item| %>
        <%# markdown parsing %>
        <% name = parse_md_brackets(item) %>
        <% id = parse_md_parentheses(item) %>
        <% if name.present? %>
          <% if id.present? %>
            <li><%= link_to name, inthenewscommentaries_item_path(id) %></li>
          <% else %>
            <li><%= name %></li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div><%# / .item-data %>
<% end %>
