<%= render_overridable "partials", "inthenews_title" %>

<h2 class="inthenews_head">News Related to African Poets</h2>

<div class="row">
  <div class="col-md-3">
    <h3>Browse</h3>
    <div class="browse_categories">
      <%= render partial: "inthenews/browse_home_display" %>
    </div>
  </div>

  <div class="col-md-9">
    <div>
      <%= render partial: "inthenews/search_text_field", locals: {
        label: "Search News"
      } %>
      <p>
        <%= link_to "Advanced Search/View All Results",
          inthenewsnewsitems_search_path,
          class: "btn btn-info btn-block",
          role: "button" %>
      </p>
    </div>
    <div>
      <div class="col-sm-8">
        <div class="word_cloud">
          <h3>Browse by Tag</h3>
          <% @facets["keywords"].each do |tag, count| %>
            <% cloud_class = word_cloud_count(count) %>

            <%= link_to inthenewsnewsitems_search_path(f: ["keywords|#{tag}"]),
              class: "btn cloud-#{cloud_class}", role: "button" do %>
                <%= tag %>
              <% end %>
          <% end %>
        </div><%# /word_cloud %>
      </div>
      <div class="col-sm-4">
        <h3>News Format</h3>
        <%= render partial: "inthenews/group_count_table", locals: {
          facet: "type" } %>
      </div>
    </div>
  </div>

</div>
