<%= render_overridable "partials", "inthenews_title" %>

<h2>News</h2>

<div class="row">
  <div class="col-md-3">
    <h3>Browse</h3>
    <div class="browse_categories">
      <%= link_to "Browse All", inthenews_news_items_browse_path, 
        class: "display_callout browse_all" %>
      <%= render partial: "inthenews/browse_home_display", locals: {
        path: "inthenews_news_items_browse_facet_path"
      } %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row">
       <%= render partial: "inthenews/search_text_field", locals: {
        url: inthenews_news_items_search_path,
        label: "Search News"
      } %>
      <p>
        <%= link_to "Advanced Search/View All Results", inthenews_news_items_search_path %>
      </p>
    </div>
    <div class="row">
      <h3>Browse by Tag</h3>
      <% @facets["keywords"].each do |tag, count| %>
        <% cloud_class = word_cloud_count(count) %>

        <%= link_to inthenews_news_items_search_path(f: ["keywords|#{tag}"]),
          class: "btn cloud-#{cloud_class}", role: "button" do %>
            <%= tag %>
          <% end %>
        </span>
      <% end %>
    </div>
  </div>

  <div class="col-md-3">
    <h3>News Format</h3>
      <%= render partial: "inthenews/group_count_table", locals: {
        facet: "type",
        path: "inthenews_news_items_search_path"
      } %>
  </div>
</div>
