<h1 class="sectiontitle"><%= t "inthenews.title" %></h1>

<h2>News</h2>

<div class="row">
  <div class="col-md-5">
    
    <%= render partial: "inthenews/search_text_field", locals: {
      url: inthenews_news_items_search_path,
      label: "Search News"
    } %>
    <%= link_to "Browse All News", inthenews_news_items_search_path %>

    <h3>Decades</h3>
    <%= render partial: "inthenews/group_count_table", locals: {
      facet: "topics",
      path: "inthenews_news_items_search_path"
    } %>

    <h3>Other</h3>
    Browse by
    <%= link_to "author", inthenews_news_items_browse_facet_path(facet: "creator.name") %>
    |
    <%= link_to "poet", inthenews_news_items_browse_facet_path(facet: "person.name") %>
    |
    <%= link_to "publisher",
      inthenews_news_items_browse_facet_path(facet: "publisher") %>

  </div>

  <div class="col-md-5">
    <p>No regional search available for news items</p>
    <%= render "partials/map_africa" %>
  </div>

  <div class="col-md-2 inthenews_sidebar">
    <h3>News Format</h3>
    <%= render partial: "inthenews/group_count_table", locals: {
    facet: "type",
      path: "inthenews_news_items_search_path"
    } %>
  </div>
</div>
