<%= render_overridable "partials", "inthenews_title" %>
<h2><%= @res["title"] %></h2>

<h3>Type</h3>
<%= @res["format"] %>

<h3>Published</h3>
<%= @res["date"] if @res["date_display"]%>
<br>
<%= @res["source"].join(" | ") %>

<% authors = @res["person"].select { |person| person["role"] == "Article Author"} %>
<% if authors.present? %>
  <h3>Authors (<%= authors.count %>)</h3>
  <%= authors.map { |author| author["name"]  }.join("; ") %>
<% else %>
  <h3>Authors (0)</h3>
  No Author
<% end %>

<h3>Citation</h3>
<div class="well">
  "<%= @res["alternative"] %>", <%= @res["source"][0] %>, <%= @res["date"].to_datetime.strftime("%d %b %Y") %>,
  <%= @res["page_k"] %> <%= @res["rights_holder"][0] %>, <%= link_to @res["rights_uri"], @res["rights_uri"] %>.
  Accessed <%= @res["date_not_after"].to_datetime.strftime("%d %b %Y") %>
</div>


<% if @res["description"].present? %>
  <h3>Excerpt</h3>
  <div class="well">
    <p><%= @res["description"] %></p>
  </div>
<% end %>

<% if @res["topics"].present? %>
  <h3>Related Events (<%= @res["topics"].count %>)</h3>
  <ul>
    <% @res["topics"].each do |topic| %>
      <% name = /\[(.*)\]/.match(topic)[1] %>
      <% id = /\]\((.*)\)/.match(topic)[1] %>
      <li><%= link_to name, inthenews_events_item_path(id)  %></li>
    <% end %>
  </ul>
<% end %>

<% if @res["person"].present? %>
  <h3>Related People (<%= @res["person"].count %>)</h3>
  <div class="item_data">
    <ul>
      <% with_id = @res["person"].select{|person| person["id"].present? } %>
      <% no_id = @res["person"].select{|person| !person["id"].present? } %>
      <% with_id.each do |person| %>
        <li>
          <%= link_to person["name"], inthenews_poets_item_path(person["id"]) %> | <%= person["role"] %>
        </li>
      <% end %>
      <% no_id.each do |person| %>
        <li>
          <%= person["name"] %> | <%= person["role"] %>
        </li>
      <% end %>
    </ul>
  </div><%# / .item-data %>
<% else %>
  No people associated with this news item
<% end %>

<% if @res["works"].present? %>
  <h3>Related Works (<%= @res["works"].count %>)</h3>
  <div class="item_data">
    <ul>
      <% @res["works"].each do |work| %>
        <% name = /\[(.*)\]/.match(work)[1] %>
        <% id = /\]\((.*)\)/.match(work)[1] %>
        <li><%= link_to name, inthenews_poets_item_path(id) %></li>
      <% end %>
    </ul>
  </div><%# / .item-data %>
<% end %>

<% if @res["keywords"].present? %>
  <h3>Tags (<%= @res["keywords"].count %>)</h3>
  <div class="item_data">
    <ul>
      <% @res["keywords"].each do |tag| %>
        <li>
          <%= link_to tag, inthenews_news_items_search_path(f: ["keywords|#{tag}"]) %>
        </li>
      <% end %>
    </ul>
  </div><%# / .item-data %>
<% end %>

<% if @res["source"].present? %>
  <h3>Repositories (<%= @res["source"].count %>)</h3>
  <div class="item_data">
    <% @res["source"].each do |source| %>
      <li>
        <%= source %>
      </li>
    <% end %>
  </div><%# / .item-data %>
<% end %>
