<%= render_overridable "partials", "inthenews_title" %>

<h2 class="inthenews_head">Commentaries</h2>

<div class="row">
  <div class="col-md-3">
    <h3>Browse</h3>
    <div class="browse_categories">
      <%= render partial: "inthenews/browse_home_display" %>
    </div>
  </div>

  <div class="col-md-9">
    <div class="row">
      <%= render partial: "inthenews/search_text_field", locals: {
        label: "Search Commentaries"
      } %>
      <p>
        <%= link_to "Advanced Search/View All Results",
          inthenewscommentaries_search_path,
          class: "btn btn-info btn-block",
          role: "button" %>
      </p>
    </div>
    <div class="row">
        <% if @featured %>
          <h3>Featured Commentary</h3>
          <% link = inthenewscommentaries_item_path(id: db_to_es_id("commentary", @featured.id)) %>

          <div class="panel panel-default panel-featured">
            <div class="panel-heading">
              <h3 class="panel-title">
                <%= link_to @featured.name, link %>
              </h3>
            </div>
            <div class="panel-body">
              <%= sanitize @featured.content %>
              <p class="read-more">
                <%= link_to "Read More", link %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
