<%= render_overridable "partials", "inthenews_title" %>
<h2 class="commentary_title"><%= @res["title"] %></h2>

<% authors = @res["creator"].collect {|person| person["name"]} %>

<div class="commentary_authors">
  Author(s): <%= authors.join(", ") %>
</div>

<div class="well">
  <%= sanitize @res["html_k"] %>
</div>

<% if @res["subjects"].present? %>
  <h3>Events (<%= @res["subjects"].count %>)</h3>
  <div class="item_data">
    <ul>
      <% @res["subjects"].each do |subject| %>
        <%# markdown parsing %>
        <% name = /\[(.*)\]/.match(subject)[1] if /\[(.*)\]/.match(subject) %>
        <% id = /\]\((.*)\)/.match(subject)[1] if /\]\((.*)\)/.match(subject) %>
        <li><%= link_to name, inthenews_events_item_path(id) %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if @res["medium"].present? %>
  <h3>News Items (<%= @res["medium"].count %>)</h3>
  <div class="item_data">
    <ul>
      <% @res["medium"].each do |item| %>
        <%# markdown parsing %>
        <% name = /\[(.*)\]/.match(item)[1] if /\[(.*)\]/.match(item) %>
        <% id = /\]\((.*)\)/.match(item)[1] if /\]\((.*)\)/.match(item) %>
        <% if name %>
          <% if id %>
            <li><%= link_to name, inthenews_news_items_item_path(id) %></li>
          <% else %>
            <li><%= name %></li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div><%# / .item-data %>
<% end %>

<% if @res["person"].present? %>
  <h3>People (<%= @res["person"].count %>)</h3>
  <div class="item_data">
    <ul>
      <% @res["person"].each do |person| %>
        <% name = person["name"] %>
        <% id = person["id"]  %>
        <% if name %>
          <% if id %>
            <li><%= link_to name, inthenews_news_items_item_path(id) %></li>
          <% else %>
            <li><%= name %></li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div><%# / .item-data %>
<% end %>

<% if @res["works"].present? %>
  <h3>Related Works (<%= @res["works"].count %>)</h3>
  <div class="item_data">
    <ul>
      <% @res["works"].each do |work| %>
        <%# markdown parsing %>
        <% name = /\[(.*)\]/.match(work)[1] %>
        <% id = /\]\((.*)\)/.match(work)[1] %>
        <li><%= link_to name, inthenews_poets_item_path(id) %></li>
      <% end %>
    </ul>
  </div><%# / .item-data %>
<% end %>
