<script>
  var search_path = "<%= inthenews_events_search_path %>";
</script>

<h1 class="sectiontitle"><%= t "inthenews.title" %></h1>

<h2>Events</h2>

<div class="row">
  <div class="col-md-3">
    <h3>Browse</h3>
    <div class="browse_categories">
      <%= link_to "Browse All", inthenews_events_browse_path, 
        class: "display_callout browse_all" %>
      <%= render partial: "inthenews/browse_home_display", locals: {
        path: "inthenews_events_browse_facet_path"
      } %>
    </div>
  </div>

  <div class="col-md-9">
    <div class="row">
      <div class="subtle_callout">
        <%= render partial: "inthenews/search_text_field", locals: {
          url: inthenews_events_search_path,
          label: "Search Events"
        } %>

        <%= link_to "Advanced Search/View All Results", inthenews_events_search_path %>
      </div>
    </div>

    <div class="row">
      <div class="subtle_callout">
        <div class="col-xs-8">
          <div id="regions_map">
            <%= render "partials/map_africa" %>
          </div>
        </div>

        <div class="col-xs-4">
        <h3>Regions</h3>
        <%= render partial: "inthenews/group_count_table", locals: {
          facet: "spatial.region",
          path: "inthenews_events_search_path"
        } %>
        </div>
      </div>
    </div>
  </div>
</div>
