<h1 class="sectiontitle"><%= t "inthenews.title" %></h1>

<h2><%= @item.name %></h2>

<h3>Summary</h3>

<% if @item.location.present? %>
  <div>
    Location: <%= @item.location.name %>
  </div>
<% end %>

<% if @item.date.present? %>
  <div>
    Date: <%= @item.date %>
  </div>
<% end %>

<% if @item.event_type.present? %>
  <div>
    Type: <%= @item.event_type.name %>
  </div>
<% end %>

<% if @item.summary.present? %>
  <div class="well">
    <%= sanitize @item.summary %>
  </div>
<% end %>

<% if @item.news_items.present? %>
  <h3>News Items (<%= @item.news_items.count %>)</h3>
  <div class="item_data">
    <ul>
      <% @item.news_items.each do |ni| %>
        <% id = db_to_es_id("news", ni.id) %>
        <li>
          <%= link_to ni.name, inthenews_news_items_item_path(id: id) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if @item.people.present? %>
  <h3>People (<%= @item.people.count %>)</h3>
  <div class="item_data">
    <%= render partial: "inthenews/simple_association_list", locals: {
      item: @item,
      assoc: "people",
      path: "inthenews_poets_item_path"
    } %>
  </div><%# / .item_data %>
<% end %>

<% if @item.commentaries.present? %>
  <h3>Commentaries (<%= @item.commentaries.count %>)</h3>
  <div class="item_data">
    <%= render partial: "inthenews/simple_association_list", locals: {
      item: @item,
      assoc: "commentaries",
      path: "inthenews_commentaries_item_path"
    } %>
  <div class="item_data">
<% end %>
