<h1 class="sectiontitle"><%= t "inthenews.title" %></h1>

<h2><%= @item.name %></h2>
<h3><%= @item.location.name %> | <%= @item.date %></h3>

<div class="row">
  <div class="col-md-6">
    <strong><%= @item.event_type.name %> event</strong>
    <% if @item.summary.present? %>
      <p><%= @item.summary %></p>
    <% end %>
  </div>

  <div class="col-md-6">
    <%= render partial: "inthenews/simple_association_list", locals: {
      item: @item,
      label: "Relationships",
      assoc: "people",
      path: "inthenews_poets_item_path"
    } %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <% if @item.news_items.present? %>
      <%= render partial: "inthenews/simple_association_list", locals: {
        item: @item,
        label: "News Items",
        assoc: "news_items",
        path: "inthenews_news_items_item_path"
      } %>
    <% end %>
  </div>

  <div class="col-md-6">
    <%= render partial: "inthenews/simple_association_list", locals: {
      item: @item,
      label: "Commentaries",
      assoc: "commentaries",
      path: "inthenews_commentary_path"
    } %>
  </div>

</div>
