<script>
  var search_path = "<%= inthenewsworks_search_path %>";
</script>

<%= render_overridable "partials", "inthenews_title" %>

<h2>Works</h2>

<div class="row">
  <div class="col-md-3">
    <h3>Browse</h3>
    <div class="browse_categories">
      <%= render partial: "inthenews/browse_home_display" %>
    </div>
  </div>

  <div class="col-md-9">
    <div class="row">
      <div class="col-md-12">
        <%= render partial: "inthenews/search_text_field", locals: {
          label: "Search Works"
        } %>
        <p>
          <%= link_to "Advanced Search/View All Results",
            inthenewsworks_search_path,
            class: "btn btn-info btn-block",
            role: "button" %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 decade_browse">
        <h3>Browse by Decade</h3>
        <%= render partial: "inthenews/browse_decade" %>
      </div>
      <div class="col-xs-4">
        <h3>Publication Type</h3>
        <%= render partial: "inthenews/group_count_table", locals: { facet: "type" } %>
      </div>
    </div>
  </div>
</div>
