<script>
  var search_path = "<%= inthenews_works_search_path %>";
</script>

<h1 class="sectiontitle"><%= t "inthenews.title" %></h1>

<h2>Works</h2>

<div class="row">
  <div class="col-md-3">
    <h3>Browse</h3>
    <div class="browse_categories">
      <%= link_to "Browse All", inthenews_works_browse_path, 
        class: "display_callout browse_all" %>
      <%= render partial: "inthenews/browse_home_display", locals: {
        path: "inthenews_works_browse_facet_path"
      } %>
    </div>
  </div>

  <div class="col-md-9">
    <%= render partial: "inthenews/search_text_field", locals: {
      url: inthenews_works_search_path,
      label: "Search Works"
    } %>
    <p><%= link_to "Advanced Search/View All Results", inthenews_works_search_path %></p>

    <h3>Browse by Decade</h3>
    <div class="browse_categories">
      <% @facets["topics"].each_with_index do |(decade, count), index| %>

        <% class_no = (index+1)%4 + 1 %>
        <%= link_to inthenews_works_search_path(f: ["topics|#{decade}"]), class: "display_callout display_callout_#{class_no}" do %>
          <%= decade %> <span class="badge badge-decade"><%= count %></span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
