<h1 class="sectiontitle"><%= t "inthenews.title" %></h1>
<!-- TODO redo h tags -->

<h2 class="item_title"><%= @item.name %></h2>

<div class="row">
  <%# NEWS ITEMS %>
  <div class="col-md-6">
    <%= render partial: "inthenews/simple_association_list", locals: {
      item: @item,
      assoc: "news_items",
      path: "inthenews_news_item_path"
    } %>
  </div>

  <%# PEOPLE %>
  <div class="col-md-6">
    <% if @item.work_roles.present? %>
      <h3>People</h3>
      <ul>
        <% @item.work_roles.each do |item| %>
          <% person = item.person %>
          <li>
            <% if person.major_african_poet %>
              <%= link_to item.name, inthenews_poet_path(person) %>
            <% else %>
              <%= item.name %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="col-md-6">
      <%= render partial: "inthenews/simple_association_list", locals: {
        item: @item,
        assoc: "commentaries",
        path: "inthenews_commentary_path"
      } %>
    </div>
  </div>
</div>
