<h1 class="sectiontitle"><%= t "contemporaryafricanpoets.title" %></h1>

<h2>Featured Poets</h2>

<%= render "contemporarypoets/browse_tabs" %>

<div class="callouts">
  <%= link_to contemporarypoets_item_path(id: "apdp.cap.000011") do %>
    <div class="home_callout home_callout_1">
      <p>Ama Ata Aidoo</p>
    </div>
  <% end %>
  <%= link_to contemporarypoets_item_path(id: "apdp.cap.000025") do %>
    <div class="home_callout home_callout_2">
      <p>Kofi Awoonor</p>
    </div>
  <% end %>
  <%= link_to contemporarypoets_item_path(id: "apdp.cap.000280") do %>
    <div class="home_callout home_callout_3">
      <p>Gabriel Okara</p>
    </div>
  <% end %>
  <%= link_to contemporarypoets_item_path(id: "apdp.cap.000285") do %>
    <div class="home_callout home_callout_4">
      <p>Ladan Osman</p>
    </div>
  <% end %>
  <%= link_to contemporarypoets_item_path(id: "apdp.cap.000321") do %>
    <div class="home_callout home_callout_5">
      <p>Mahtem Shiferraw</p>
    </div>
  <% end %>
</div>
