<h1>Featured Poets</h1>

<ul>
  <li><%= link_to "Ama Ata Aidoo", "featured/Ama_Ata_Aidoo" %></li>
  <li><%= link_to "Gabriel Okara", "featured/Gabriel_Okara_path" %></li>
  <li><%= link_to "Kofi Awoonor", "featured/Kofi_Awoonor_path" %></li>
  <li><%= link_to "Ladan Osman", "featured/Ladan_Osman_path" %></li>
  <li><%= link_to "Mahtem Shiferraw", "featured/Mahtem_Shiferraw_path" %></li>
</ul>











