<%# expects
  - "sort_by" sort value (e.g. "count|desc")
%>

<h1 class="sectiontitle"><%= t "index_of_poets.title" %></h1>

<h2><%= t "browse.browse_type", default: "Browse by" %> <%= @browse_facet_info["label"] %></h2>
<%# deviation from orchid default: moving the tabs to a partial for
    inclusion from other templates %>
<% if @browse_facet != "title" %>
  <div class="btn-group buffer-bottom-sm">
    <button type="button" class="btn btn-default dropdown-toggle"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= t "browse.sort_by", default: "Sort by" %>: <%= sort_selected_label("facets", sort_by) %>
      <span class="caret"></span>
    </button>

    <ul class="dropdown-menu">
      <% sort_fields_facets.each do |sort_field, label| %>
        <%= render_overridable("sort_dropdown_item", label: label,
          sort_url: prefix_path("browse_facet_path", facet_sort: sort_field)) %>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="tab-content">
  <% @page_facets.each_with_index do |(facet_name, facet_info), index| %>
    <% id = facet_name.parameterize(separator: ".")  %>
    <div role="tabpanel"
      class="tab-pane <%= active?(facet_name, @browse_facet) %>" id="<%= id %>">
      <% if @res.key?(facet_name) %>
        <%# switch for title %>
        <% if @browse_facet.include?"title" %>
          <div class="btn-group">
            <%= button_to "A-G", index_of_poets_browse_facet_path("person.name_ag"), method: :get, :class => "btn btn-default" %>
            <%= button_to "H-M", index_of_poets_browse_facet_path("person.name_hm"), method: :get, :class => "btn btn-default" %>
            <%= button_to "N-Z", index_of_poets_browse_facet_path("person.name_nz"), method: :get, :class => "btn btn-default" %>
          </div>
        <% end %>
        <% if params[:facet].include?"title" %>
          <% letters = params[:facet].split("_")[1] %>
          <% case letters %>
          <% when "ag", nil %>
            <% @res = POETS_AG %>
          <% when "hm"%>
            <% @res = POETS_HM %>
          <% when "nz"%>
            <% @res = POETS_NZ %>
          <% end %>
        <% end %>
        <table class="index_table">
          <tbody>
            <% @res[facet_name].each do |list| %>
              <tr>
                  <% text = list[0].blank? ? t("browse.no_label", default: "No label") : value_label(facet_name, list[0]) %>
                  <% if facet_name != "title" %>
                    <td class="index_num">
                      <%= link_to prefix_path("search_path",
                        f: ["#{facet_name}|#{list[0]}"]), rel: "nofollow" do %>
                        <%= list[1] %>
                      <% end %>
                    </td>
                    <td class="index_spacer">
                      <%= link_to prefix_path("search_path",
                        f: ["#{facet_name}|#{list[0]}"]), rel: "nofollow" do %>
                        <span></span>
                      <% end %>
                    </td>
                  <% end %>
                  <td class="index_name">
                    <%= link_to prefix_path("search_path",
                      f: ["#{facet_name}|#{list[0]}"]), rel: "nofollow" do %>
                      <%= text %>
                    <% end %>
                  </td>
              </tr>
            <% end %>
          <tbody>
        </table>
      <% end %>
      <% if @browse_facet_info["label"] == "Region" %>
        <div id="regions_map">
          <%= render "partials/map_africa" %>
        </div>
      <% end %>
    </div><%# /tabpanel %>
  <% end %>
</div>
