<ul class="internal_nav_tabs nav">
  <li class="<%= active?(about_home_path) %>">
    <%= link_to "About the Project", about_home_path %>
  </li>
  <li class="<%= active?(about_credits_path) %>">
    <%= link_to "Credits", about_credits_path %>
  </li>
  <li class="<%= active?(about_africanpoetrybookfund_path) %>">
    <%= link_to "African Poetry Book Fund", about_africanpoetrybookfund_path %>
  </li>
  <li class="<%= active?(about_technicaldetails_path) %>">
    <%= link_to "Technical Details", about_technicaldetails_path %>
  </li>
</ul>