<h1>The Life, Times, and Works: Digital Critical Bibliographies of African Poets</h1>

<p>“The Life, Times, and Works: Digital Critical Bibliographies of African Poets” are bibliographies on the works of some of Africa’s major poets. These bibliographies consist of primary sources and the work of scholars from around the world. The current project is designed in the spirit of the work of the African Poetry Book Fund, which seeks to develop mechanisms and practices that fill major gaps in the study and positionality of African poetry in the wider world. Each bibliography is created so as to ensure that a comprehensive and fully consolidated accounting of a select cluster of major African poets, most of whom would not have had such treatment of their work made available to scholars and writers, exists in an accessible and consistent space. The researchers augmented their own research with crowd-sourcing (through the use of a public “researchathon” for each poet) to create these bibliographies.</p>

<h2>About the Digital Critical Bibliographies of African Poets</h2>

<p>Bibliographies in the following areas will be developed:</p>

<ol class="roman-numerals">
	<li><%= link_to "The Life and Work of Kofi Awoonor", bibliographies_kofi_awoonor_path %></li>
	<li><%= link_to "The Life and Work of Tanella Boni", bibliographies_tanella_boni_path %></li>
	<li><%= link_to "The Life and Work of Keorapetse Kgositsile", bibliographies_keorapetse_kgositsile_path %></li>
	<li><%= link_to "The Life and Work of Antjie Krog", bibliographies_antjie_krog_path %></li>
	<li><%= link_to "The Life and Work of Gabriel Okara", bibliographies_gabriel_okara_path %></li>
	<li><%= link_to "The Life and Work of Wole Soyinka", bibliographies_wole_soyinka_path %></li>
</ol>

<p><em>In Process</em></p>

<ol class="roman-numerals" start="7">
	<li>Negritude and the African Imagination: A Digital History</li>
	<li>The Life and Work of Kofi Anyidoho</li>
	<li>The Life and Work of Dennis Brutus</li>
</ol>

<p>Each of these bibliographies covers as broad a range of the work of an African poet, including primary texts, secondary texts, critical texts, and where possible “media,” which we use here to refer to the many ways in which recent data technology, the internet, social media, and attendant sites collect information. This project focuses primarily on African poetry in English, however the selection of poets is not only limited to writers who compose and publish in English. In some instances, we have included writers who work in another language and so we have ensured that all material is fully translated in the bibliography.</p>

<p>We determined the current list of poets by a combination of factors, including the presumed stature of poets, the current availability (or lack thereof) of sources available for these poets, gender considerations, and regional considerations. We have also sought to connect our choices with the current publishing work that the APBF has done in our African Poetry Book Series, which features collected and new volumes by major African poets. To date, the African Contemporary Classics Series has released collected works by Kofi Awoonor and Keorapetse Kgositsile, and the Contemporary African Poetry Book Series has published two translations of the work of Tanella Boni. The combination of these publications and the expectation that they will generate greater research, makes it appropriate for us to feature these three authors among the first set of poets we will be examining in the bibliographies. Our intent is to create a context for the study of these authors, and the bibliographies, in conjunction with various other aspects of our interventions into African poetry, are intended to facilitate such work.</p>

<p>These critical bibliographies constitute what might best be described as “living documents,” which means that the work on these documents is to be ongoing. As new material on each of these writers appears in journals, periodicals, and in media, we will seek to constantly update the bibliographies to reflect this. We have developed systems geared to harvesting new data as it appears and then adding it to the existing documents. Having established some of the fundamental categories that constitute the framework for these documents, we will continue to encourage scholars and writers to add to the bibliographies where new material is found. In our experience, there are, in many instances, pockets of archived or collected data on each of these writers in various places that we may not yet have found, or for which we have not yet secured access. Our task will be to ensure that our network of scholars and writers be alert to such work and add it to the existing documentation even as they, themselves, make use of the bibliographies as they are constituted at this point.</p>

<p>To facilitate the use of these bibliographies, we have made the data available for download in Zotero. Contribution forms and download links will be added to the site to facilitate the engagement we seek.</p>
